.resume
  display: flex
  position absolute
  top 0
  bottom 1.333333rem
  width 100%
  overflow hidden
  .about
    width: 4.0rem
    height 100%
    background-color #099fde
    padding: 0.053333rem
    box-sizing: border-box
    color: #fff
    .name
      text-align: center
      margin: 0.533333rem auto 1.066667rem
      font-size: 0.426667rem
      font-weight: 600
    .intention
      font-size: 14px
      span
        display: block
        text-align: right
        font-size: 12px
        line-height: 0.48rem
        margin: 0.533333rem 0
        letter-spacing: 1px
    .info
      .info-title
        font-size: 14px
      .info-item
        display: flex
        margin: 0.266667rem 0 0.533333rem 0
        height: 1.066667rem
        line-height: 1.066667rem
        align-items center
        .icon
          width: 0.533333rem
          height: 0.533333rem
          background-color: #fff
          border-radius: 50%
          margin-right: 0.053333rem
          background-position: center
          background-repeat: no-repeat
          background-size: cover
          &.school
            background-image url(https://github.com/han960619/Vue-chat/blob/master/src/page/resume/school.png?raw=true)
          &.major
                background-image: url(https://github.com/han960619/Vue-chat/blob/master/src/page/resume/major.png?raw=true)
          &.phone
                background-image: url(https://github.com/han960619/Vue-chat/blob/master/src/page/resume/phone.png?raw=true)
          &.email
                background-image: url(https://github.com/han960619/Vue-chat/blob/master/src/page/resume/email.png?raw=true)
  .power
    flex: 1
    overflow-y: auto
    padding 0.266667rem
    background-color: #fff
    .power-item
      color: #099fde
      .title
        display: flex
        margin-bottom: 0.533333rem
        .icon
          display: inline-block
          width: 1.066667rem
          height: 1.066667rem
          background-color: #099fde
          border-radius: 50%
          margin-right: 0.266667rem
          background-position: center
          background-repeat: no-repeat
          background-size: 0.8rem
          // &.technology
          //   background-size: 35px
          //   background-image: url(technology.png)
          // &.evaluation
          //   background-image: url(evaluation.png)
        .name
          flex: 1
          display: inline-block
          height: 1.066667rem
          font-size: 0.533333rem
          font-weight: 600
          line-height: 1.066667rem
          box-sizing: border-box
          border-bottom: 2px solid #099fde
      .technology-item
        margin: 0.266667rem auto
        font-size: 14px
        line-height: 0.533333rem
        span
          display: inline-block
          font-size: 18px
      .myevaluation
        font-size 14px
        line-height 0.533333rem