.header
  .cm-header
  	position fixed
  	top 0
  	left 0
  	right 0
  	height 1.173333rem
  	line-height 1.173333rem
  	text-align center
  	background-color #099fde
  	color #fff
  	z-index 100
  	.cm-page-title
  	  position absolute
  	  left 2.346667rem
  	  right 2.346667rem
  	  line-height 1.173333rem
  	  font-size 18px
  	  overflow hidden
  	  text-overflow ellipsis
  	  white-space nowrap
  	  font-weight 400
  	  font-family inherit	
.view
  position absolute
  width 100%
  bottom 0
  top 1.173333rem
  .order-list
    position absolute
    top 0
    bottom 1.333333rem
    width 100%
    overflow auto
  	li
  	  margin-bottom 0.266667rem
  	  padding 0.4rem 
  	  background #fff
  	  overflow hidden
  	  color #8b7d6b
  	  .order-left
  	  	float left
  	  	p
  	  	  padding-bottom 0.266667rem
  	  	  font-size 12px
  	  	  &.bold
  	  	  	color #000
  	  	  	font-size 14px
  	  	  	strong
  	  	  	  font-weight bold
      .name 
        margin-right 0.133333rem   
  	  .order-right
  	  	float right
  	  	p
          text-align right
          padding-bottom 0.266667rem
          font-size 12px